<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Кирилл</h1>
<p>
     О себе не хотелось бы много рассказывать не потому, что я скрытный, а просто
  мне лень много писать =) 
</p>
<p>
     Я родился в городе Кургане. Этот город не слишком известен даже в России,
  а уж про остальные страны я вообще молчу.
</p>
<p>
     С малых лет я увлекался видеоиграми, начиная с денди и до внушительного уровня игры в MMORPG уже в сознательном возрасте.
  Кроме того, меня всегда привлекали компьютеры, с восхищением я смотрел на то, как другие люди могут программировать и всегда хотелось уметь то же, что и они.
  Программирование всегда казалось мне сложным...Чем-то, что доступно только очень талантливым людям с развитым интеллектом, заточенным под эту область деятельности,
  потому, наверное, я никогда и не решался начинать.
</p>
<p>
     После окончания 11 классов школы я пошел учиться в местный ВУЗ на инженера-строителя, ведь инженерная профессия строителя всегда ассоциировалась с хорошими деньгами (нет) =)
  После получения диплома инженера "Промышленного и гражданского строительства" и до настоящего момента я ни дня не работал по специальности. 
  Пару лет работал в строительстве мостов (в основном занимался проектной работой). После этого хотелось больше зарабатывать, так я попал в электроэнергетику и 
  работаю в этой области по сей день.
</p>
<p>
    Обучаться навыкам разработки на Python я решился практически спонтанно, когда понял, что моя работа мне не интересна, хоть и приносит неплохой заработок. 
    Оказалось, что нужно было слушать себя раньше, когда понимал, к чему у меня есть стремление. Теперь прошло уже много времени, которое было потрачено на работу, которая 
    не приносит радости.
</p>
<p>
  Сейчас 13.04.2022 г. Вот я здесь и пока не знаю, куда меня это приведет. Еще очень много всего предстоит узнать.
</p>
<p>
  З.Ы. наверное, последний абзац нужно было начать с фразы "Дорогой дневник" =)
</p>
{% endblock %} 