<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <p>
        Если честно, чем больше я начинаю узнавать на курсе,
        тем больше я понимаю, что вообще очень мало умею =) 
        Конечно, если учитывать, что до этого я вообще не представлял как писать код,
         то могу сказать, что я умею:
      <li class="list-group-item">
        Писать код на Python, знаю основы синтаксиса и понимаю логику процессов, хоть и на начальном уровне;
      </li>
      <li class="list-group-item">
        Разрабатывать сайты в Django, хотя, это скорее можно назвать "Уверенный пользователь", а не "Разработчик" =)
      </li>
      <li class="list-group-item">
        Писать несложных ботов на aiogram (хотя там тоже огромное поле для обучения)
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>
      Здесь можно, наверное, добавить сведения о железе, на котором я работаю:
    </p>
    <li>
      AMD Ryzen 3 3100 4-Core Processor 3.60 GHz
    </li>
    <li>
      Оперативная память 16,0 ГБ
    </li>
    <li>
      Видеокарта NVIDIA GeForce GTX 970
    </li>
    <p>
      А это мое рабочее место
    </p>
    <img src="{% static 'img/img_1917.jpg' %}" width="300" height="450">
  </article>
</div>
{% endblock %} 